@charset "utf-8";

form {
    max-width: 600px;
    margin: 0 auto
}
fieldset {
    border: 0
}

legend {
    font-size: 2rem;
    text-align: center
}

.d-flex {
    display: flex
}
.gap-1 {
    gap: 1rem
}

.d-none {
    display: none
}